
.main_page{
    background-color:black;
    color:white;
}

.row1{
    border-bottom: solid 2px red;
    height:100px;
    width:100%;
    margin-top:50px;
    background-color:black;
    margin-bottom:40px;
   
}

.col1{
    width: 72px;
    height: 72px;
    border:2px solid black;
    line-height: 48px;
    float:left;
    margin:12px;
    margin-top:10px;
    
}

.col2{
    width:103px;
    height:72px;
    border:2px solid black;
    float:left;
    margin:10px;
    margin-top:10px;
    font-style: normal;
    font-size: 20px;
    color:white;
    
}

.col3{
    width: 100px;
    height: 72px;
    border:2px solid black;
    line-height: 48px;
    margin-top:10px;
    float:right;
    font-size: 19px;
    color:white;
}


.col4{
    width: 100px;
    height: 72px;
    border:2px solid black;
    margin:auto 36px;
    line-height: 40px;
    margin-top:10px; 
    float:right;
    font-size: 20px;
    color:white;
}


.row2{
    border-bottom: solid 2px red;
    height:50px;
    width:100%;
    margin-top:40px;
    color:white;
    
}

.List{
    margin-left:15%;
}

.row3{
    border: solid 2px red;
    height:450px;
    width:70%;
    margin-top:400px;
    color:black;
    display:flex;
    flex-direction:row;
    margin:auto;
}

.col11{
    height:300px;
    width:15.60%;
    color:white;
    border:2px solid yellow;
    margin-top:30px;
    padding:10px;
    margin:30px;
}

.image{
    height:300px;
    width:200px;
}

.img{
    height:300px;
    width:200px;
}

.col12{
    height:319px;
    width:800px;
    color:white;
    border:2px solid blue;
    margin-top:30px;
}


.Action{
   
    height:70px;
    width:850px;
    color:white;
    border:2px solid green;
    display:flex;
    flex-direction:row;
    align-items:center;
    
}

.rating{
     border: 2px solid red;
     padding: 10px;
     border-radius: 40px;
     height:8px;
     width:8px;
     margin-left:10px;
     margin-right:10px;
}

.Delete_button{
    margin-left:700px;
}



































